/* $wtf: white; */
/* $wtf: white; */
$facebook: rgb(67, 172, 242); 
$main-color: rgb(241, 142, 4); 
$second-color: rgb(34, 99, 107); 
$second-light: rgb(160, 212, 209); 
$third-color: rgb(36, 128, 126); 

$default-font: arial, sans-serif;
$special-font: 'pt sans', 'roboto', arial, sans-serif;